h1, h2, p {
  text-align: center; 
  font-style: 'Bierstadt';
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

p {
  font-family: 'Bierstadt Display', sans-serif;
  font-size: 22pt;
}

/* Navbar Styling */
#navbar {
  overflow: hidden;
  border: 15px solid #84DCCF;
  background-color: #84DCCF;
}

#navbar a {
  float: left;
  display: block;
  color: #001011;
  background-color: #84DCCF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #757780;
  color: #F49D6E;
}

/* Layout Styling */
#topLeft, #topRight, #midLeft, #midRight, #bottomLeft, #bottomRight {
  display: inline-block;
  width: 43%;              
  margin-right: 3%;
}

.profile, .bio {
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
  width: 48%;
}

#topLeft, #topRight {
  vertical-align: top;
}

#midLeft, #midRight {
  vertical-align: middle;
}

#bottomLeft, #bottomRight {
  vertical-align: bottom;
}

/* Footer Styling */
footer {
  width: 98%;
  position: absolute;
  bottom: 0;
  left: 0;
  clear: both;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 20px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 140px;
  width: 100%;
}

.left_div, .center_div, .right_div {
  width: 15%;  
  height: 20%;             
  overflow: hidden;         
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;      
}

.left_div img, .center_div img, .right_div img {
  width: 70%;              
  height: 100%;             
  object-fit: contain;       
}

/* Figure and Caption Styling */
figure {
  margin: 0;               
  padding: 0;  
  display: block;            
}

figcaption {
  text-align: center;
  color: white;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
/* Hero Image Styling */
.heroImage {
  width: 100%;
  height: 33vh;            
  overflow: hidden;
  position: relative;
}

.heroImage img {
  width: 100%;             
  height: 100%;            
  object-fit: fill;     
  object-position: center; 
}
